#overflow{
	width:  1250px;
    overflow-x: scroll;
}
#overflowasig{
	height: 550px;
    max-height: 550px;
    overflow-y: scroll;
}
.card-img-top {
    width: 80%;
    height: 15rem;
}
.custom-hr{
	border-top: 5px solid grey;
	margin: auto;
	height: 5px;
}
.horizontal-scrollable{
    overflow-x: scroll;
    white-space: nowrap;
}
        /* Decorations */
          
.col-xl-3{
            color: black;
            padding-bottom: 5px;
            padding-top: 5px; 
}
          
.col-xl-3:nth-child(2n+1) {
            background: #c0c0c0;
}
          
.col-xl-3:nth-child(2n+2) {
            background: #808080;
}
#acto2{
	 background: #c0c0c0;
}
#acto4{
	 background: #c0c0c0;
}
#acto6{
	 background: #c0c0c0;
}
#prio1{
	 background: #b00000;
	 color: white;
}
#prio2{
	 background: #ff4040;
	 color: white;
}
#prio3{
	 background: #ff8D8D;
	 color: white;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#800000;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.float:hover{
	color: #c0c0c0;
}
span.red{
	color: red;
}
span.negrita{
	font-weight: bold;
}