#overflow{
	height: 550px;
    max-height: 550px;
    overflow-y: scroll;
}
.card-img-top {
    width: 80%;
    height: 15rem;
}
.custom-hr{
	border-top: 10px solid grey;
	margin: auto;
	height: 10px;
}
.custom-hr2{
	border-top: 10px solid grey;
	height: 10px;
}
#logo_profesor{
	text-align: center;
	margin: auto;
}
#migasdepan{
	font-size: large;
	color: white;
}
#img_custom{
	width: 50%;
}
.jumbotron{
	background-color:grey;
}
.list-group-custom{
	border-left-color: #fff;
	border-right-color: #fff;
}
.list-group-custom .list-group-item{
	background-color: #fff;
	color: black;
	
}
.list-group-custom .list-group-item:hover {
  background-color: #e1e1e1;
  color:black;
}
