#overflow{
	height: 550px;
    max-height: 550px;
    overflow-y: scroll;
}
.card-img-top {
    width: 80%;
    height: 15rem;
}
.custom-hr{
	border-top: 10px solid grey;
	margin: auto;
	height: 10px;
}