#barraSuperior {
	min-width: 500px;
	min-height: 300px;
	font-size: large;
}

.nav .dropdown-menu {
	color: blue;
	display: block;
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
}